<div>
  <div class="col-md-12">
    <div>We have three roles available</div>
    <div>(You can do any number of them at once, and you can change roles at any time)</div>
  </div>
  <div class="col-md-4">
    <div class="blockTitle">Donor</div>
    <div class="blockIcon">
      <img src="/images/coop/driverLarge.png" />
    </div>
    <div class="rolePoints">
      <ul>
	<li>Double a recipe</li>
	<li>Freeze a meal</li>
	<li>We'll pick it up from your door</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="blockTitle">Depot</div>
    <div class="blockIcon">
      <img src="/images/coop/depotLarge.png" />
    </div>
    <div class="rolePoints">
      <ul>
	<li>Got a big freezer?</li>
	<li>Store meals  for distribution</li>
	<li>Drivers will drop them off and pick them up</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="blockTitle">Driver</div>
    <div class="blockIcon">
      <img src="/images/coop/driverLarge.png" />
    </div>
    <div class="rolePoints">
      <ul>
	<li>Don't mind meeting new people?</li>
	<li>Take meals to where they need to go</li>
      </ul>
    </div>
  </div>
</div>
