<div id="technicalNotes">
  <link href="/stylesheets/prism.css" rel="stylesheet" />
  <script src="/javascripts/prism.js"></script>
  <div class="alert alert-success" role="alert">
    <a href="?invertTechnicalMode=1">Don't show me technical notes</a>
    {{{technicalNotes}}}
  </div>
</div>
