<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/page.css">
    <script src="/javascripts/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>She Wrote It</title>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-55722081-1', 'auto');
     ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsibleHeader">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="/images/nav/headerSmall.png" alt="Home" />
            </a>
          </div>
          <div class="collapse navbar-collapse" id="collapsibleHeader">
            <ul class="nav navbar-nav">
              <li {{#if stories}}class="active"{{/if}}><a href="/book">Book</a></li>
              <li {{#if demos}}class="active"{{/if}}><a href="/demos">Demos</a></li>
              <li {{#if about}}class="active"{{/if}}><a href="/about" >About Us</a></li>
              {{#if technicalMode}}
		<li class="active"><a href="?technicalMode=0">
                  Disable technical notes
		</a></li>
                {{else}}
		<li><a href="?technicalMode=1">
                  Enable technical notes
		</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
      {{#if technicalMode}}
        {{> technicalNotes}}
      {{/if}}
      {{{body}}}
    </div>
  </body>
</html>
