<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/page.css">
    <script src="/javascripts/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>She Wrote It</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsibleHeader">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">She Wrote It</a>
          </div>
          <div class="collapse navbar-collapse" id="collapsibleHeader">
            <ul class="nav navbar-nav">
              <li {{#if stories}}class="active"{{/if}}><a href="/page/0/0">Start</a></li>
              <li {{#if demos}}class="active"{{/if}}><a href="/demo/1">Demos</a></li>
              <li {{#if about}}class="active"{{/if}}><a href="/about" >About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {{{body}}}
    </div>
  </body>
</html>
