<div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/leer.png" alt="Leer avatar" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">The Leer</h4>
	<div>The Leer has a snarl that can freeze a man's blood at eighty paces.</div>
      </div>
    </div>
  </div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/girlPurple.png" alt="Girl Purple avatar" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">Girl Purple</h4>
	<div>Girl Purple is a monkey poet who lives in a tree.</div>
      </div>
    </div>
  </div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/paper.png" alt="Paper avatar image" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">Paper</h4>
	<div>Paper wishes he was as clever as his daughters.</div>
      </div>
    </div>
  </div>
</div>
