<div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/leer.png" alt="Leer avatar" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">The Leer</h4>
	<div>The Leer has a snarl that can freeze a man's blood at eighty paces.</div>
      </div>
    </div>
  </div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/girlPurple.png" alt="Girl Purple avatar" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">Girl Purple</h4>
	<div>Girl Purple is a monkey poet who lives in a tree.</div>
      </div>
    </div>
  </div>
  <div>
    <div class="media">
      <div class="pull-left">
	<img class="media-object" src="/images/avatars/paper.png" alt="Paper avatar image" />
      </div>
      <div class="media-body">
	<h4 class="media-heading">Paper</h4>
	<div>Paper is an ex-Thoughtworks developer who currently works at a Group of Eight University in Australia as a Solution Architect.  He works with brilliant, powerful women every day and wants to be able to hire more but he's frustrated by how few applicants there are.</div>
	<div>Paper wants his daughters to be able to do the same job that he loves so much and he thinks that's all about letting them see it early.</div>
      </div>
    </div>
  </div>
</div>
