<div id="stories">
  {{#each stories}}
    <a href="/page/{{id}}/0">
      <div class="story">
        <div class="chapterTitle">{{chapter}}</div>
        <div class="title">{{label}}</div>
        <img src="/images/stories/{{id}}.png" />
      </div>
    </a>
  {{/each}}
</div>
