<div id="demos">
  {{#each demos}}
    <a href="/demo/{{id}}">
      <div class="story">
        <div class="chapterTitle">{{chapter}}</div>
        <div class="title">{{label}}</div>
        <img src="/images/demos/{{id}}.png" />
      </div>
    </a>
  {{/each}}
</div>
