<div>
  <div class="col-md-8">
    <h3>Spaceships in space</h3>
    <p>This brings together several concepts we've discussed into a workable game engine:</p>
    <ul>
      <li>Touch detection</li>
      <li>Collision detection</li>
      <li>Physics and render ticking</li>
      <li>Canvas drawing</li>
    </ul>
    <p>Click in the space to fly the ship</p>
    <p>There is also a capture engine which lets you claim words as they fly off the screen.  Fully typing a word will bring up information about what other words are required to create a component, which will enhance your ship's capabilities.</p>
  </div>
  {{> comments}}
  <div class="col-md-8" id="parent">
    <canvas id="scene"></canvas>
  </div>
  <div id="collection" class="col-md-4">
    <p>Assets</p>
  </div>
  <div class="col-md-8">
    <input id="keyboard" placeholder="Type words here to capture them" />
  </div>
  <script src="/javascripts/requestAnimationFrame.js"></script>
  <script src="/javascripts/flyover.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/flyover.css"></script>
</div>
