<div>
  <div class="col-md-8" id="parent">
    <canvas id="scene"></canvas>
  </div>
  <div id="collection" class="col-md-4">
    <p>Assets</p>
  </div>
  <div class="col-md-8">
    <input id="keyboard" placeholder="Type words here to capture them" />
  </div>
  <script src="/javascripts/requestAnimationFrame.js"></script>
  <script src="/javascripts/flyover.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/flyover.css"></script>
</div>
