<div>
  <div>
    <ol>
      {{# pages}}<li><a href="/page/{{id}}">{{label}}</a></li>{{/pages}}
    </ol>
  </div>
  <div>
    <img src="/images/pages/{{page}}.png" alt="Page {{page}}" />
  </div>
</div>
