<div>
  <h3>The Velocipede's Progress</h3>
  <p>
    This is a simple demonstration of some angles and rendering.  The velocipede rides along at a constant velocity, working out how far into the air it needs to go to continue along each hill, and tilting to the correct angle.
  </p>
  <div id="parent" class="col-md-8">
    <canvas id="scene"></canvas>
  </div>
  {{> comments}}
  <script src="/javascripts/requestAnimationFrame.js"></script>
  <script src="/javascripts/velocipede.js"></script>
  <link rel="stylesheet" href="/stylesheets/velocipede.css" />
</div>
