#comic img, .story img, .story{
    width:100%;
}
#stories, #pageNav{
    border-bottom:1px solid black;
}
.story{
    width:20%;
    border:1px solid black;
}
#titleSection{
    width:100%;
    text-align:center;
}
#pageNav{
    list-style-type:none;
}
#pageNav li{
    margin:1em;
}
