.story img, #titleSection, .comic{
    width:100%;
}
#stories, .comic{
    margin-bottom:1em;
}
.story{
    width:20%;
    border:1px solid black;
    display:inline-block;
}
#titleSection{
    text-align:center;
}
.story .title, #stories, .comic{
    border-bottom:1px solid black;
}
.story .title{
    text-align:center;
}
.comment img{
    width:50px;
}
