.blockTitle {
    font-weight:bold;
    text-align:center;
    width:100%;
}
.blockIcon{
    width:100%;
    text-align:center;
}
.blockIcon img{
    border:2px solid black;
    border-radius:50%;
    width:50%;
    height:50%;
}
.message{
    background-color:lightgray;
    border:1px solid black;
}
.message .option{
    background-color:white;
    border:1px solid black;
    float:right;
}
