<p>
  There's a pretty severe equivocation around the word 'code' in this section.
</p>
<p>
  It's probably worth separating out the notions of:
  <ul>
    <li>Character encodings (UTF8, Unicode etc)</li>
    <li>Encryption or cyphering (the horse joke)</li>
    <li>The activity of programming</li>
  </ul>
</p>
